<% if @editing %>
<h1> Select to Edit </h1>
<% elsif @deleting %>
<h1> Select to Delete </h1>
<% end %>
<div class="list-group">
  <% @albums.each do |album| %>
    <%= render album, editing: @editing, deleting: @deleting %>
  <% end %>
</div>
